# Folder Exclusions #

node_modules/*
*.zip
*.jpeg
*.jpg
Exercise Data/examples from pgadmin/users_db.json
Exercise Data/examples from pgadmin/movies_db.json
Exercise Data/examples from pgadmin/genres_db.json
Exercise Data/examples from pgadmin/directors_db.json
Exercise Data/examples from postman/movie_base_backup_after_edits
Exercise Data/examples from postman/movie_base_backup_pre_edits
mongodb.js
Heroku pass.txt
Exercise Data/mongo_db_exports/users_db.json
